.priceSlider{
    width: 20vmax;
}
ul>li{
    list-style: none;
text-transform: uppercase;
margin: 5px 0;
}
ul>li:hover{
    cursor: pointer;
    color: tomato;
}
.catagory-box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}